.loginbutton{
	background-color: #3C33CB;
}
.login{
	
}
.curvemini{
	border-radius: 5px;
}
.curvenormal{
	border-radius: 10px;
}
.loginpage{
	background-color:#f2f2f4;
}
.topsliderimages{
	width:100px;
	height:100px;
}
.navbar-inverse {
  background-color: #363A45;
  border-color: #303247;
}
.sidebyside{
	
}