

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="bpltable">
  {{bplTable}}
</div>

   <table data-fixed-columns="2">
        <thead>
          <tr class="groups">
            <th class="pos" colspan="2"></th>

            <th class="groupA space">&nbsp;</th>
            <th class="groupA" colspan="6">Overall</th>

             
              <th class="groupB space">&nbsp;</th>
              <th class="groupB" colspan="5">Home</th>

              <th class="groupC space">&nbsp;</th>
              <th class="groupC" colspan="5">Away</th>
            

            <th class="space">&nbsp;</th>
            <th class="gd">&nbsp;</th>
            <th class="pts">&nbsp;</th>

          </tr>
        </thead>

        <tbody>
          <tr class="columns">
            <th class="pos sortable selected" data-sort-by="num,asc"><a href="#">POS</a></th>
            <th class="team sortable" data-sort-by="alpha,asc"><a href="#">TEAM</a></th>

            <th class="groupA space">&nbsp;</th>
            <th class="groupA">P</th>
            <th class="groupA">W</th>
            <th class="groupA">D</th>
            <th class="groupA">L</th>
            <th class="groupA">F</th>
            <th class="groupA">A</th>

             
              <th class="groupB space">&nbsp;</th>
              <th class="groupB">W</th>
              <th class="groupB">D</th>
              <th class="groupB">L</th>
              <th class="groupB">F</th>
              <th class="groupB">A</th>

              <th class="groupC space">&nbsp;</th>
              <th class="groupC">W</th>
              <th class="groupC">D</th>
              <th class="groupC">L</th>
              <th class="groupC">F</th>
              <th class="groupC">A</th>
            

            <th class="space">&nbsp;</th>
            <th class="gd sortable" data-sort-by="num,asc"><a href="#">GD</a></th>
            <th class="pts sortable" data-sort-by="num,asc"><a href="#">PTS</a></th>

          </tr>

          

                  <tr style="background-color: #81D6AC">
                    <td class="pos">1</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/manchester-city/382/index">Manchester City</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">9</td>
                    <td class="groupA" headers="colA">2</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">30</td>
                    <td class="groupA" headers="colA">14</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">6</td>
                        <td class="groupB" headers="colB">0</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">23</td>
                        <td class="groupB" headers="colB">10</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">3</td>
                        <td headers="colC">2</td>
                        <td headers="colC">1</td>
                        <td headers="colC">7</td>
                        <td headers="colC">4</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">16</td>
                    <td class="pts">29</td>

                  </tr>

                

                  <tr style="background-color: #81D6AC">
                    <td class="pos">2</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/leicester-city/375/index">Leicester City</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">8</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">1</td>
                    <td class="groupA" headers="colA">29</td>
                    <td class="groupA" headers="colA">21</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">4</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">1</td>
                        <td class="groupB" headers="colB">14</td>
                        <td class="groupB" headers="colB">12</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">4</td>
                        <td headers="colC">3</td>
                        <td headers="colC">0</td>
                        <td headers="colC">15</td>
                        <td headers="colC">9</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">8</td>
                    <td class="pts">29</td>

                  </tr>

                

                  <tr style="background-color: #81D6AC">
                    <td class="pos">3</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/manchester-united/360/index">Manchester United</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">8</td>
                    <td class="groupA" headers="colA">4</td>
                    <td class="groupA" headers="colA">2</td>
                    <td class="groupA" headers="colA">20</td>
                    <td class="groupA" headers="colA">10</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">4</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">0</td>
                        <td class="groupB" headers="colB">9</td>
                        <td class="groupB" headers="colB">1</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">4</td>
                        <td headers="colC">2</td>
                        <td headers="colC">2</td>
                        <td headers="colC">11</td>
                        <td headers="colC">9</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">10</td>
                    <td class="pts">28</td>

                  </tr>

                

                  <tr style="background-color: #B5E7CE">
                    <td class="pos">4</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/arsenal/359/index">Arsenal</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">8</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">24</td>
                    <td class="groupA" headers="colA">12</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">1</td>
                        <td class="groupB" headers="colB">8</td>
                        <td class="groupB" headers="colB">4</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">5</td>
                        <td headers="colC">1</td>
                        <td headers="colC">2</td>
                        <td headers="colC">16</td>
                        <td headers="colC">8</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">12</td>
                    <td class="pts">27</td>

                  </tr>

                

                  <tr style="background-color: #B2BFD0">
                    <td class="pos">5</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/tottenham-hotspur/367/index">Tottenham Hotspur</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">6</td>
                    <td class="groupA" headers="colA">7</td>
                    <td class="groupA" headers="colA">1</td>
                    <td class="groupA" headers="colA">24</td>
                    <td class="groupA" headers="colA">11</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">4</td>
                        <td class="groupB" headers="colB">4</td>
                        <td class="groupB" headers="colB">0</td>
                        <td class="groupB" headers="colB">14</td>
                        <td class="groupB" headers="colB">5</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">2</td>
                        <td headers="colC">3</td>
                        <td headers="colC">1</td>
                        <td headers="colC">10</td>
                        <td headers="colC">6</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">13</td>
                    <td class="pts">25</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">6</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/liverpool/364/index">Liverpool</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">6</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">18</td>
                    <td class="groupA" headers="colA">15</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">8</td>
                        <td class="groupB" headers="colB">9</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">3</td>
                        <td headers="colC">3</td>
                        <td headers="colC">1</td>
                        <td headers="colC">10</td>
                        <td headers="colC">6</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">3</td>
                    <td class="pts">23</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">7</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/crystal-palace/384/index">Crystal Palace</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">7</td>
                    <td class="groupA" headers="colA">1</td>
                    <td class="groupA" headers="colA">6</td>
                    <td class="groupA" headers="colA">19</td>
                    <td class="groupA" headers="colA">14</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">1</td>
                        <td class="groupB" headers="colB">4</td>
                        <td class="groupB" headers="colB">11</td>
                        <td class="groupB" headers="colB">9</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">4</td>
                        <td headers="colC">0</td>
                        <td headers="colC">2</td>
                        <td headers="colC">8</td>
                        <td headers="colC">5</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">5</td>
                    <td class="pts">22</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">8</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/west-ham-united/371/index">West Ham United</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">6</td>
                    <td class="groupA" headers="colA">4</td>
                    <td class="groupA" headers="colA">4</td>
                    <td class="groupA" headers="colA">25</td>
                    <td class="groupA" headers="colA">21</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">12</td>
                        <td class="groupB" headers="colB">11</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">4</td>
                        <td headers="colC">1</td>
                        <td headers="colC">2</td>
                        <td headers="colC">13</td>
                        <td headers="colC">10</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">4</td>
                    <td class="pts">22</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">9</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/everton/368/index">Everton</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">6</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">27</td>
                    <td class="groupA" headers="colA">19</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">16</td>
                        <td class="groupB" headers="colB">11</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">2</td>
                        <td headers="colC">4</td>
                        <td headers="colC">1</td>
                        <td headers="colC">11</td>
                        <td headers="colC">8</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">8</td>
                    <td class="pts">21</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">10</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/southampton/376/index">Southampton</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">4</td>
                    <td class="groupA" headers="colA">20</td>
                    <td class="groupA" headers="colA">17</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">1</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">12</td>
                        <td class="groupB" headers="colB">10</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">2</td>
                        <td headers="colC">4</td>
                        <td headers="colC">1</td>
                        <td headers="colC">8</td>
                        <td headers="colC">7</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">3</td>
                    <td class="pts">20</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">11</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/watford/395/index">Watford</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">4</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">15</td>
                    <td class="groupA" headers="colA">16</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">4</td>
                        <td class="groupB" headers="colB">6</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">3</td>
                        <td headers="colC">2</td>
                        <td headers="colC">2</td>
                        <td headers="colC">11</td>
                        <td headers="colC">10</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">-1</td>
                    <td class="pts">19</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">12</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/stoke-city/336/index">Stoke City</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">4</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">11</td>
                    <td class="groupA" headers="colA">14</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">1</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">5</td>
                        <td class="groupB" headers="colB">7</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">3</td>
                        <td headers="colC">3</td>
                        <td headers="colC">2</td>
                        <td headers="colC">6</td>
                        <td headers="colC">7</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">-3</td>
                    <td class="pts">19</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">13</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/west-bromwich-albion/383/index">West Bromwich Albion</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">6</td>
                    <td class="groupA" headers="colA">13</td>
                    <td class="groupA" headers="colA">18</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">1</td>
                        <td class="groupB" headers="colB">4</td>
                        <td class="groupB" headers="colB">9</td>
                        <td class="groupB" headers="colB">13</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">3</td>
                        <td headers="colC">2</td>
                        <td headers="colC">2</td>
                        <td headers="colC">4</td>
                        <td headers="colC">5</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">-5</td>
                    <td class="pts">18</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">14</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/chelsea/363/index">Chelsea</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">4</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">7</td>
                    <td class="groupA" headers="colA">17</td>
                    <td class="groupA" headers="colA">23</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">1</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">10</td>
                        <td class="groupB" headers="colB">10</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">1</td>
                        <td headers="colC">2</td>
                        <td headers="colC">4</td>
                        <td headers="colC">7</td>
                        <td headers="colC">13</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">-6</td>
                    <td class="pts">15</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">15</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/swansea-city/318/index">Swansea City</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">5</td>
                    <td class="groupA" headers="colA">6</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">19</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">8</td>
                        <td class="groupB" headers="colB">9</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">1</td>
                        <td headers="colC">2</td>
                        <td headers="colC">4</td>
                        <td headers="colC">6</td>
                        <td headers="colC">10</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">-5</td>
                    <td class="pts">14</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">16</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/norwich-city/381/index">Norwich City</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">4</td>
                    <td class="groupA" headers="colA">7</td>
                    <td class="groupA" headers="colA">17</td>
                    <td class="groupA" headers="colA">25</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">8</td>
                        <td class="groupB" headers="colB">9</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">1</td>
                        <td headers="colC">2</td>
                        <td headers="colC">4</td>
                        <td headers="colC">9</td>
                        <td headers="colC">16</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">-8</td>
                    <td class="pts">13</td>

                  </tr>

                

                  <tr style="background-color: #FFFFFF">
                    <td class="pos">17</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/sunderland/366/index">Sunderland</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">3</td>
                    <td class="groupA" headers="colA">8</td>
                    <td class="groupA" headers="colA">16</td>
                    <td class="groupA" headers="colA">26</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">9</td>
                        <td class="groupB" headers="colB">8</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">1</td>
                        <td headers="colC">1</td>
                        <td headers="colC">5</td>
                        <td headers="colC">7</td>
                        <td headers="colC">18</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">-10</td>
                    <td class="pts">12</td>

                  </tr>

                

                  <tr style="background-color: #FF7F84">
                    <td class="pos">18</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/afc-bournemouth/349/index">AFC Bournemouth</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">2</td>
                    <td class="groupA" headers="colA">4</td>
                    <td class="groupA" headers="colA">8</td>
                    <td class="groupA" headers="colA">17</td>
                    <td class="groupA" headers="colA">30</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">1</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">8</td>
                        <td class="groupB" headers="colB">12</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">1</td>
                        <td headers="colC">1</td>
                        <td headers="colC">5</td>
                        <td headers="colC">9</td>
                        <td headers="colC">18</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">-13</td>
                    <td class="pts">10</td>

                  </tr>

                

                  <tr style="background-color: #FF7F84">
                    <td class="pos">19</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/newcastle-united/361/index">Newcastle United</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">2</td>
                    <td class="groupA" headers="colA">4</td>
                    <td class="groupA" headers="colA">8</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">30</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">1</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">3</td>
                        <td class="groupB" headers="colB">11</td>
                        <td class="groupB" headers="colB">12</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">1</td>
                        <td headers="colC">1</td>
                        <td headers="colC">5</td>
                        <td headers="colC">3</td>
                        <td headers="colC">18</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">-16</td>
                    <td class="pts">10</td>

                  </tr>

                

                  <tr style="background-color: #FF7F84">
                    <td class="pos">20</td>
                    <td class="team">
                      <a href="http://www.espnfc.com/club/aston-villa/362/index">Aston Villa</a>
                    </td>

                    <td headers="colA" class="space">&nbsp;</td>
                    <td class="groupA" headers="colA">14</td>
                    <td class="groupA" headers="colA">1</td>
                    <td class="groupA" headers="colA">2</td>
                    <td class="groupA" headers="colA">11</td>
                    <td class="groupA" headers="colA">12</td>
                    <td class="groupA" headers="colA">27</td>

                    

                        <td headers="colB" class="space">&nbsp;</td>
                        <td class="groupB" headers="colB">0</td>
                        <td class="groupB" headers="colB">2</td>
                        <td class="groupB" headers="colB">5</td>
                        <td class="groupB" headers="colB">5</td>
                        <td class="groupB" headers="colB">10</td>

                        <td headers="colC" class="space">&nbsp;</td>
                        <td headers="colC">1</td>
                        <td headers="colC">0</td>
                        <td headers="colC">6</td>
                        <td headers="colC">7</td>
                        <td headers="colC">17</td>
                    
                      
                     

                    <td class="space">&nbsp;</td>
                    <td class="gd">-15</td>
                    <td class="pts">5</td>

                  </tr>
        </tbody>
      </table>



<div>
  <div class="left">
    <table>
      <thead>
        
      </thead>
      <tbody>
        <tr>
          <td>
            ManUFC v Arsenal
          </td>
          <td>
            3.20
          </td>
          <td>
            3.20
          </td>
        </tr>
        <tr>
          <td>
            3.20
          </td>
        </tr>
        <tr>
          <td>
            3.30
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="left">
    
  </div>
  <div class="left">
    
  </div>
  <div class="left">
    
  </div>
  <div class="left">
    
  </div>
</div>


<form {{action "authenticate" on="submit"}}>
  <div>
    <label for="identification">E-mail</label><br />
    {{input value=identification placeholder="E-mail" type="text" name="email"}}
  </div>

  <div>
    <label for="password">Password</label><br />
    {{input value=password placeholder="Password" type="password" name="password"}}
  </div>

  <div>
    <button type="submit">Log in</button>
  </div>
</form>